[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
mistune = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.7"
